

<mat-card>
    <mat-card-content>
        <form [formGroup]="postForm" (ngSubmit)="onPostAdd()">
            <div class="form-group">
                <label for="title">Title</label>
                <input 
                formControlName="title"
                type="text" class="form-control">

                <strong class="text-danger" *ngIf="formControls['title'].touched && formControls['title'].hasError('required')">
                   This is an required field !!!
                </strong>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea formControlName="content" id="content" class="form-control"></textarea>

                <strong class="text-danger" *ngIf="formControls['content'].touched && formControls['content'].hasError('required')">
                   This is an required field !!!
                </strong>
            </div>

            <div class="form-group">
                <label for="userId">UserId</label>
                <select 
                formControlName="userId"
                id="userId" class="form-control">
                    <option
                    *ngFor="let arr of userIdArr; trackby : trackById"
                    [value]="arr">
                        {{arr}}
                    </option>
                </select>

                <strong class="text-danger" *ngIf="formControls['userId'].touched && formControls['userId'].hasError('required')">
                   This is an required field !!!
                </strong>
            </div>

            <button *ngIf="!isInEditMode" mat-raised-button color="primary" class="w-100">Add Post</button>
            <button (click)="onUpdate()" *ngIf="isInEditMode" type="button"  mat-raised-button color="accent" class="w-100">Update Post</button>
        </form>
    </mat-card-content>
</mat-card>